body {
    font-family: 'Open Sans', sans-serif;
    background: #2c445b;
}

.comm-page-wrapper {
    padding: 15px 15px;
    min-height: 789px;
    background: #ececec;
    position: relative;
    top: 55px;
    -moz-box-shadow: 0 0 10px #757575;
    margin-left: 260px;
}

.comm-page-inner {
    //width:100%;
    //margin:0px 20px 10px;
    //background-color:transparent;
    //padding: 15px 30px;
   // min-height:1200px;
}
