################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NewSky.WebApi/bin/Debug
/NewSky.WebApi/obj/Debug
/NewSkyWeb/obj/Debug
/WebApiHost/bin/Debug
/WebApiHost/obj/Debug
/NewSky.WebApi/bin/Release
/NewSky.WebApi/obj/Release
/NewSkyWeb/obj/Release
/WebApiHost/bin/Release
/WebApiHost/obj/Release
/ServiceShellHost/bin
/ServiceShellHost/obj/Debug
/ServiceShellHost/obj/Release
/CloudBin
/NewSky.Platform/bin/Debug
/NewSky.Platform/obj/Debug
/NewSky.WebApi/bin
/ServiceTest/bin
/ServiceTest/obj/Debug
/Weather/NewSky.Weather.WebApi/obj/Debug
/User/NewSky.User.WebApi/bin/Debug
/User/NewSky.User.WebApi/obj/Debug
/NewSkyWeb/node_modules
/NewSkyWeb/src/platform/content/dashboardController.js
/NewSkyWeb/src/platform/content/dashboardController.js.map
/NewSkyWeb/src/platform/content/uiElementsController.js
/NewSkyWeb/src/platform/content/uiElementsController.js.map
/NewSkyWeb/src/platform/header/headerController.js
/NewSkyWeb/src/platform/header/headerController.js.map
/NewSkyWeb/src/platform/menu/menuController.js
/NewSkyWeb/src/platform/menu/menuController.js.map
/NewSkyWeb/src/platform/index.js
/NewSkyWeb/src/platform/index.js.map
/NewSkyWeb/src/app.js
/NewSkyWeb/src/app.js.map
