<div>
    <nav class="menu-navbar-side">
        <ul>
            <li>
                <a class="waves-effect waves-dark" ui-sref="dashboard"
                   ng-class="{'menu-active-menu': menuInstance.selectedMenu == 'Dashboard'}"
                   ng-click="menuInstance.dashboardClick()">
                    <i class="fa fa-dashboard"></i>
                    Dashboard
                </a>
            </li>
            <li>
                <a class="waves-effect waves-dark" ui-sref="uiElements"
                   ng-class="{'menu-active-menu': menuInstance.selectedMenu == 'UIElements'}"
                   ng-click="menuInstance.uiElementsClick()">
                    <i class="fa fa-desktop"></i>
                    UI Elements
                </a>
            </li>
        </ul>
    </nav>
</div>