<div class="login-area">
    <div class="login-icon">
        <img src="../../logo.jpg" />
    </div>
    <div class="login-message">
        {{loginInstance.message}}
    </div>
    <div class="login-input-user">
        User Name
        <input ng-model="loginInstance.loginData.userName" placeholder="your name"/>
    </div>
    <div class="login-input-password">
        Password
        <input ng-model="loginInstance.loginData.password" placeholder="your password"/>
    </div>
    <div class="login-checkbox-use-refresh-token">
        <input type="checkbox" id="is-use-refresh-token" ng-model="loginInstance.loginData.useRefreshToken" />
        <label for="is-use-refresh-token">Use Refresh Tokens</label>
    </div>
    <div class="login-button-login">
        <button ng-click="loginInstance.login()">Login</button>
    </div>
</div>